<!DOCTYPE html>
<html>
<head>
    <title> roomr - home </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css')}}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
</head>
<body>
    <!-- Sidebar content -->
    <nav id="sidebar"><br>
        <div id="headercontainer">
            <h3 id="bartitle"><b>roomr</b></h3>
        </div>
        <div id="barlinks">
                <a href="{{url_for('home')}}" id="baritem">Home</a> 
                {% if current_user.is_authenticated %}
                    <a href="{{url_for('matches')}}" id="baritem" >Matches</a>
                    <a href="{{url_for('user')}}" id="baritem" >Profile</a> 
                    {% if current_user.admin %}  
                    <a href="{{url_for('admin')}}" id="baritem" >Admin Panel</a> 
                    {% endif %}
                    <a href="{{url_for('logout')}}" id="baritem" >Logout</a>
                {% else %}
                    <a href="{{url_for('login')}}" id="baritem">Login</a>
                    <a href="{{url_for('signup')}}" id="baritem" >Signup</a>
                {% endif %}   
            </div>
    </nav>

    <!-- Homepage content -->
    <div class="content">
        <br>
        <h2 style="text-align: left;">All Accounts:</h2>
        {% for user in users %}
        <a href="{{ url_for('adminViewAccount', uid=user.id) }}" >
                <div class="matchProfile" > 
                        <br>
                        <table>
                            <tr>
                                <td style="width:40%;">
                                    <img src= "{{ user.profilePicture }}" alt = "Profile picture", style = "width:30%;" >
                                </td>
                                <td style="width:30%;">
                                    {{ user.fname }} {{ user.lname }}
                                </td>
                            </tr>
                        </table>
                        
                        
                        <!-- <a href="{{ url_for('privatechat', email = user.email) }}"> Chat with {{ user.fname }}! </a> -->
                        <br>
                </div>
            </a>
            <br>

            {% endfor %}  

    </div>