<!DOCTYPE html>
<html>
    <head>
        <title> roomr - edit profile </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css')}}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    </head>
    <body>
        <nav id="sidebar"><br>
            <div id="headercontainer">
                <h3 id="bartitle"><b>roomr</b></h3>
            </div>
            <div id="barlinks">
                <a href="{{url_for('home')}}" id="baritem">Home</a> 
                {% if current_user.is_authenticated %}
                    <a href="{{url_for('chatform')}}" id="baritem" >Matches</a>
                    <a href="{{url_for('user')}}" id="baritem" >Profile</a> 
                    <a href="{{url_for('editProfile')}}" id="baritem" >Edit Profile</a>
                    <a href="{{url_for('logout')}}" id="baritem" >Logout</a>
                    <a href="{{url_for('Delete')}}" id="baritem" >Delete Account</a>
                {% else %}
                    <a href="{{url_for('login')}}" id="baritem">Login</a>
                    <a href="{{url_for('signup')}}" id="baritem" >Signup</a>
                {% endif %}      
            </div>
        </nav>
    
        <div class="content">
            <!-- <h1> Account Info </h1>
            <form method="POST">
 
            </form> -->
            <h1> Roommate Preferences </h1>
            {% for message in get_flashed_messages() %} 
            <div class="alert">
                {{ message }}
            </div>
            {% endfor %}
            <form method="POST"  enctype="multipart/form-data" id="signupForm">
                <!-- {{ form.profilePicture.label }} : {{ form.profilePicture() }} <br>
                Location <br>
                {{ form.state.label }} : {{ form.state() }}
                {{ form.city.label }} : {{ form.city() }} <br>
                {{ form.gender.label }} : {{ form.gender() }} <br>
                {{ form.bio.label }} : {{ form.bio() }} <br>
                {{ form.smoker.label }} : {{ form.smoker() }} <br>
                {{ form.sleepPattern.label }} : {{ form.sleepPattern() }} <br>
                {{ form.genderPreferences.label }} : {{ form.genderPreferences() }} <br>
                {{ form.cleanliness.label }}: {{ form.cleanliness() }}<br>
                {{ form.submit() }} -->

                <table id="pref">
                    <tr>
                        <td id="question">Gender:  </td>
                        <td id="answ">{{form.gender(id="ansSel")}}</td>
                    </tr>
                </table>

                <!-- {{ form.gender.label }} : {{ form.gender() }} <br> -->
                <br>
                <h3>Location:</h3>
                <table>
                    <tr>
                        <td>State:</td>
                        <td>City: </td>
                    </tr>
                    <tr>
                        <td> {{ form.state() }} </td>
                        <td> {{ form.city() }}</td>
                    </tr>
                </table>
                <br>
                <!-- {{ form.city.label }} : {{ form.city() }} <br> -->

                <table style="width:108%">
                    <tr>
                        <td>Bio:</td>
                    </tr>
                    <tr>
                        <td id="bioField">{{ form.bio(placeholder="Write something about yourself...") }}</td>
                    </tr>
                </table>
                <!-- {{ form.bio.label }} : {{ form.bio() }} <br> -->


                <table id="pref">
                    <tr>
                        <td id="question">Do you smoke?:  </td>
                        <td id="answ">{{ form.smoker(id="ansSel") }}</td>
                    </tr>
                    <tr>
                        <td id="question">Sleep Pattern:  </td>
                        <td id="answ">{{ form.sleepPattern(id="ansSel") }}</td>
                    </tr>
                    <tr>
                        <td id="question">Gender Preference:  </td>
                        <td id="answ">{{ form.genderPreferences(id="ansSel") }}</td>
                    </tr>
                    <tr>
                        <td id="question">Cleanliness:  </td>
                        <td id="answ">{{ form.cleanliness(id="ansSel")}}</td>
                    </tr>
                </table>
                <!-- {{ form.smoker.label }} : {{ form.smoker() }} <br> -->
                <!-- {{ form.sleepPattern.label }} : {{ form.sleepPattern() }} <br>
                {{ form.genderPreferences.label }} : {{ form.genderPreferences() }} <br>
                {{ form.cleanliness.label }}: {{ form.cleanliness()}}<br> -->
                <br>

                <table id="pic">
                    <tr>
                        <td> Profile Picture: </td>
                        
                    </tr>
                    <tr>
                        <td> {{ form.profilePicture(id="file", dataMultipleCaption="{count} files selected") }}
                            <label for="file"><span>choose a file</span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                            {{ form.submit() }}
                        </td>
                    </tr>
                </table>
                <br>

                <br>
                <br>
    
                    
    
                </form>

            </form>
            <script>
                var state_select = document.getElementById("state");
                var city_select = document.getElementById("city");
        
                state_select.onchange = function()  {
                     
                    state = state_select.value;
                    
                    fetch('/city/' + state).then(function(response) {
        
                        response.json().then(function(data) {
                            var optionHTML = '';
        
                            for (var city of data.cities) {
                                optionHTML += '<option value="' + city.name + '">' + city.name + '</option>';
                            }
        
                            city_select.innerHTML = optionHTML;
                        })
                        
                    });
                }
            </script>
            <script>
                    var inputs = document.querySelectorAll( '#file' );
                    Array.prototype.forEach.call( inputs, function( input ) {
                    var label = input.nextElementSibling,
                                labelVal = label.innerHTML;
                    
                    input.addEventListener( 'change', function( e ) {
                        var fileName = '';
                        
                        if ( this.files && this.files.length > 1 ) {
                        fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
                        } else {
                        fileName = e.target.value.split( '\\' ).pop();
                        }
                    
                        if ( fileName ) {
                        label.querySelector( 'span' ).innerHTML = fileName;
                        } else {
                        label.innerHTML = labelVal;
                        }
                    });
                     });
                    </script>
        </div>
    </body>
</html>
