<!DOCTYPE html>
<html>
    <head>
        <title> Edit profile </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}"/>
    </head>
    <body>
        <!-- <h1> Account Info </h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.fname.label }}: {{ form.fname(size = 15, maxlength = 32) }}<br>
            {{ form.lname.label }}: {{ form.lname(size = 15, maxlength = 32) }}<br>
            {{ form.submit() }}
        </form> -->
        <h1> Roommate Preferences </h1>
        <form method="POST">
            {{ form.profilePicture.label }} : {{ form.profilePicture() }}
            {{ form.location.label }} : {{ form.location() }}
        </form>
    </body>
</html>
