<!DOCTYPE html>
<html>
    <head>
        <title> roomr - edit profile </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css')}}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    </head>
    <body>
        <nav id="sidebar"><br>
            <div id="headercontainer">
                <h3 id="bartitle"><b>roomr</b></h3>
            </div>
            <div id="barlinks">
                <a href="{{url_for('home')}}" id="baritem">Home</a> 
                <a href="{{url_for('user')}}" id="baritem" >Profile</a> 
                {% if current_user.is_authenticated %}
                    <a href="{{url_for('editProfile')}}" id="baritem" >Edit Profile</a>
                    <a href="{{url_for('logout')}}" id="baritem" >Logout</a> 
                    <a href="{{url_for('chatform')}}" id="baritem" >Chat</a>
                {% else %}
                    <a href="{{url_for('login')}}" id="baritem">Login</a> 
                    <a href="{{url_for('signup')}}" id="baritem" >Signup</a> 
                {%endif%}   
            </div>
        </nav>
    
        <div class="content">
            <!-- <h1> Account Info </h1>
            <form method="POST">
 
            </form> -->
            <h1> Roommate Preferences </h1>
            {% for message in get_flashed_messages() %} 
            <div class="alert">
                {{ message }}
            </div>
            {% endfor %}
            <form method="POST"  enctype="multipart/form-data">
                {{ form.profilePicture.label }} : {{ form.profilePicture() }} <br>
                {{ form.location.label }} : {{ form.location() }} <br>
                {{ form.gender.label }} : {{ form.gender() }} <br>
                {{ form.bio.label }} : {{ form.bio() }} <br>
                {{ form.smoker.label }} : {{ form.smoker() }} <br>
                {{ form.sleepPattern.label }} : {{ form.sleepPattern() }} <br>
                {{ form.genderPreferences.label }} : {{ form.genderPreferences() }} <br>
                {{ form.cleanliness.label }}: {{ form.cleanliness() }}<br>
                {{ form.submit() }}
            </form>


        </div>
    </body>
</html>
