<!DOCTYPE html>
<html>
<head>
    <title> Home </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css')}}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

</head>
<body>
    <nav id="sidebar"><br>
        <div id="headercontainer">
            <h3 id="bartitle"><b>roomr</b></h3>
        </div>
        <div id="barlinks">
            <a href="/" id="baritem">Home</a> 
            <a href="user" id="baritem" >Profile</a> 
            <a href="login" id="baritem">Login</a> 
            <a href="signup" id="baritem" >Signup</a> 
        </div>
    </nav>


    <div class="content" >


        <h1> welcome to roomr. </h1>
        <p> *homepage feed here* </p>
        <!-- <a href="login"> Login </a>
        <br>
        <a href="signup"> Sign Up </a> -->
    </div>

 </body>
</html>