<!DOCTYPE html>
<html>
<head>
    <title> roomr - home </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css')}}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
</head>
<body>
    <!-- Sidebar content -->
    <nav id="sidebar"><br>
        <div id="headercontainer">
            <h3 id="bartitle"><b>roomr</b></h3>
        </div>
        <div id="barlinks">
                <a href="{{url_for('home')}}" id="baritem">Home</a> 
                {% if current_user.is_authenticated %}
                    <a href="{{url_for('user')}}" id="baritem" >Profile</a> 
                    <a href="{{url_for('editProfile')}}" id="baritem" >Edit Profile</a>
                    <a href="{{url_for('logout')}}" id="baritem" >Logout</a>
                    <a href="{{url_for('chatform')}}" id="baritem" >Chat</a>
                {% else %}
                    <a href="{{url_for('login')}}" id="baritem">Login</a>
                    <a href="{{url_for('signup')}}" id="baritem" >Signup</a>
                {% endif %}   
            </div>
    </nav>

    <!-- Homepage content -->
    <div class="content" >
        {% if current_user.is_authenticated %}
            <h1> My Suggested Users </h1>
            <div class="slideshow">
                {% for user in users %}
                <div class="suggestedMatches">
                    <h2><div id="topright"> {{loop.index}} </div></h2>
                    <h2 id="matchAmount"> {{ user.fname|capitalize }} is a <b>{{ points[user.email] }}%</b> match! </h2>
                    <p><a href="{{ url_for('privatechat', email = user.email) }}"> Chat with {{ user.fname }}! </a></p>
                    <div class="profile"> 
                            <br>
                            <img src= "{{ user.profilePicture }}" alt = "Profile picture", style = "width:70%;" >
                            <h1>{{ user.fname }} {{ user.lname }}</h1>
                            <div class="col1">
                                <span id = "quest"> {{user.gender.capitalize()}} </span> 
                                <span id = "response">Age: {{ user.dob.today().year - user.dob.year }}</span>
                                <br>
                                <div>{{user.city}}, {{user.state}}</div>
                                <br>
                            </div>
                            <div id="bio"> Bio: <br> {{user.bio}} </div>
                            <br>
                            <div class="col2"> 
                                <div> 
                                    <span id="quest">Smoker:</span> <span id="response">{{user.smoker.capitalize()}} </span>
                                    {% if current_user.smoker == user.smoker %} &nbsp;
                                        <img src="{{ url_for('static', filename='greencheck.png')}}" height="15" width="15"/>
                                    {% else %}
                                        <img src="{{ url_for('static', filename='redx.png')}}" height="15" width="15"/>
                                    {% endif %}
                                </div>
                                <div> 
                                    <span id="quest">Sleep Pattern:</span> <span id="response">{{user.sleep.capitalize()}} </span>
                                    {% if current_user.sleep == user.sleep %}
                                        <img src="{{ url_for('static', filename='greencheck.png')}}" height="15" width="15"/>
                                    {% else %}
                                        <img src="{{ url_for('static', filename='redx.png')}}" height="15" width="15"/>
                                    {% endif %}
                                </div>
                                <div> 
                                    <span id="quest">Cleanliness:</span> <span id="response">{{user.cleanliness.capitalize()}} </span>
                                    {% if current_user.cleanliness == user.cleanliness %} &nbsp;
                                        <img src="{{ url_for('static', filename='greencheck.png')}}" height="15" width="15"/>
                                    {% else %}
                                        <img src="{{ url_for('static', filename='redx.png')}}" height="15" width="15"/>
                                    {% endif %}
                                </div>
                            </div>
                            <br>
                            <br>
        
                    </div>



                    <!-- <div style="text-align: center">
                        <h3> {{ user.fname|capitalize }} {{ user.lname|capitalize }} </h3>
                        <p><img src= "{{ user.profilePicture }}" alt = "Profile picture", style = "width:200px;height:200px;"></p>
                        <p>{{ user.bio }}</p>
                    </div>
                    <p> <b>Email address:</b> {{ user.email }}</p>
                    <p> <b>Date of Birth:</b> {{ user.dob }}</p>
                    <p> <b>Location:</b> {{ user.location }} </p>
                    <p> <b>Gender:</b> {{ user.gender }}</p>
                    <p> <b>Gender Preference:</b> {{ user.genderPreferences }} </p>
                    <p> <b>Smoker:</b> {{ user.smoker }} 
                    {% if current_user.smoker == user.smoker %} &nbsp;
                        <img src="{{ url_for('static', filename='greencheck.png')}}" height="15" width="15"/>
                    {% else %}
                        <img src="{{ url_for('static', filename='redx.png')}}" height="15" width="15"/>
                    {% endif %}
                    </p>
                    <p> <b>Sleep Pattern:</b> {{ user.sleep }} &nbsp;
                    {% if current_user.sleep == user.sleep %}
                        <img src="{{ url_for('static', filename='greencheck.png')}}" height="15" width="15"/>
                    {% else %}
                        <img src="{{ url_for('static', filename='redx.png')}}" height="15" width="15"/>
                    {% endif %}
                    </p>
                    <p> <b>Cleanliness:</b> {{ user.cleanliness }}
                    {% if current_user.cleanliness == user.cleanliness %} &nbsp;
                        <img src="{{ url_for('static', filename='greencheck.png')}}" height="15" width="15"/>
                    {% else %}
                        <img src="{{ url_for('static', filename='redx.png')}}" height="15" width="15"/>
                    {% endif %}
                    </p> -->
                </div>
                {% endfor %}
                <a class="prev" onclick="plusMatches(-1)">&#10094;</a>
                <a class="next" onclick="plusMatches(1)">&#10095;</a>
            </div>
            <script type="text/javascript">
                var matchIndex = 1;
                showMatches(matchIndex);

                // Next/previous controls
                function plusMatches(n) {
                    showMatches(matchIndex += n);
                }

                function showMatches(n) {
                    var i;
                    var matches = document.getElementsByClassName("suggestedMatches");
                    if (n > matches.length) {
                        matchIndex = 1 }
                    if (n < 1) {
                        matchIndex = matches.length}
                    for (i = 0; i < matches.length; i++) {
                        matches[i].style.display = "none";
                    }
                    matches[matchIndex-1].style.display = "block";
                }
            </script>
        {% else %}
            <h1> welcome to roomr. </h1>
            <p> New user? Sign up now! </p>
        {% endif %}
    </div>

</body>
</html>