<!DOCTYPE html>
<html>
    <head>
        <title> roomr login </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}"/>
    </head>
    <body>
        <h1> Login </h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.email.label }}: {{ form.email() }}<br>
            {{ form.password.label }}: {{ form.password() }}<br>
            {{ form.remember_me.label }}:<br> {{ form.remember_me() }}
            {{ form.submit() }}
        </form>
    </body>
</html>
