<!DOCTYPE html>
<html>
    <head>
        <title> roomr login </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}"/>
    </head>
    <body>
        <h1> Login </h1>
        {% for message in get_flashed_messages() %} 
        <div class="alert">
            <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
            {{ message }}
        </div>
        {% endfor %}
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.email.label }}: {{ form.email(type="email") }}<br>
            {% for error in form.email.errors %}
            <span class = "error"></span>[{{ error}}]</span>
            {% endfor %}
            {{ form.password.label }}: {{ form.password() }}<br>
            {{ form.remember_me.label }}:<br> {{ form.remember_me() }}
            {{ form.submit() }}
        </form>
    </body>
</html>
