<!DOCTYPE html>
<html>
    <head>
        <title> roomr - welcome!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css')}}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    </head>
    <body>
        <nav id="sidebar"><br>
            <div id="headercontainer">
                <h3 id="bartitle"><b>roomr</b></h3>
            </div>
            <div id="barlinks">
                    <a href="{{url_for('home')}}" id="baritem">Home</a> 
                {% if current_user.is_authenticated %}
                    <a href="{{url_for('chatform')}}" id="baritem" >Matches</a>
                    <a href="{{url_for('user')}}" id="baritem" >Profile</a> 
                    <a href="{{url_for('editProfile')}}" id="baritem" >Edit Profile</a>
                    <a href="{{url_for('logout')}}" id="baritem" >Logout</a>
                    <a href="{{url_for('Delete')}}" id="baritem" >Delete Account</a>
                {% else %}
                    <a href="{{url_for('login')}}" id="baritem">Login</a>
                    <a href="{{url_for('signup')}}" id="baritem" >Signup</a>
                {% endif %}      
                </div>
        </nav>


        <div class="content" >
            <h1> Welcome, new roomr user!!</h1>
            <p>
                An email has been sent to you! 
            </p>
        </div>

    </body>
</html>
