<!DOCTYPE html>
<html>
    <head>
        <title>Welcome! </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css')}}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    </head>
    <body>
        <nav id="sidebar"><br>
            <div id="headercontainer">
                <h3 id="bartitle"><b>roomr</b></h3>
            </div>
            <div id="barlinks">
                <a href="/" id="baritem">Home</a> 
                <a href="user" id="baritem" >Profile</a> 
                {% if current_user.is_authenticated %}
                    <a href="logout" id="baritem" >Logout</a> 
                {% else %}
                    <a href="login" id="baritem">Login</a> 
                    <a href="signup" id="baritem" >Signup</a> 
                {%endif%}   
            </div>
        </nav>


        <div class="content" >
            <h1> Welcome, new roomr user!!</h1>
            <p>
                An email has been sent to you! 
            </p>
            <a href="login"> Login </a>
        </div>

    </body>
</html>
