<!DOCTYPE html>
<html>
    <head>
        <title> roomr - signup </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css')}}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    </head>
    <body>
        <nav id="sidebar"><br>
            <div id="headercontainer">
                <h3 id="bartitle"><b>roomr</b></h3>
            </div>
            <div id="barlinks">
                    <a href="{{url_for('home')}}" id="baritem">Home</a> 
                {% if current_user.is_authenticated %}
                    <a href="{{url_for('chatform')}}" id="baritem" >Matches</a>
                    <a href="{{url_for('user')}}" id="baritem" >Profile</a> 
                    <a href="{{url_for('editProfile')}}" id="baritem" >Edit Profile</a>
                    <a href="{{url_for('logout')}}" id="baritem" >Logout</a>
                    <a href="{{url_for('Delete')}}" id="baritem" >Delete Account</a>
                {% else %}
                    <a href="{{url_for('login')}}" id="baritem">Login</a>
                    <a href="{{url_for('signup')}}" id="baritem" >Signup</a>
                {% endif %}     
                </div>
        </nav>
    
    
        <div class="content" >
            <h1> Sign Up </h1>
            {% for message in get_flashed_messages() %} 
            <div class="alert">
                <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
                {{ message }}
            </div>
            {% endfor %}
            <form method="POST" enctype="multipart/form-data" id="signupForm">
                {{ form.hidden_tag() }}
                Full Name: <br>
                {{ form.fname(size = 15, maxlength = 32, placeholder="First Name") }}
                {{ form.lname(size = 15, maxlength = 32, placeholder="Last Name") }}<br>
                <!-- {{ form.fname.label }}: {{ form.fname(size = 15, maxlength = 32) }}<br>
                {{ form.lname.label }}: {{ form.lname(size = 15, maxlength = 32) }}<br> -->


                Email: <br>
                {{ form.email(type="email", size = 30, maxlength = 64, placeholder="Email") }}<br>
                Confirm Email: <br>
                {{ form.email2(type="email", size = 30, maxlength = 64, placeholder="Confirm Email") }}
                {% for error in form.email.errors %}
                    <span class = "error">{{ error}}</span>
                {% endfor %}


                <table>
                    <tr>
                        <td>Password:</td>
                        <td>Confirm Password:</td>
                    </tr>
                    <tr>
                        <td> {{ form.password(type="password", placeholder="Password") }} </td>
                        <td> {{ form.password2(type="password", placeholder="Confirm Password") }} </td>
                    </tr>
                </table>
                {% for error in form.password.errors %}
                    <span class = "error">{{ error}}</span>
                {% endfor %}
                <br>
                <!-- Date of Birth: <br>
                {{ form.dob(type="date", size = 8, maxlength = 8, min="1900-01-01", max="2019-12-01") }}<br> -->

                <table>
                    <tr>
                        <td>Birthday:</td>
                        <td>Gender: </td>
                    </tr>
                    <tr>
                        <td> {{ form.dob(type="date", size = 8, maxlength = 8, min="1900-01-01", max="2019-12-30") }}</td>
                        <td id="genderSelect">{{form.gender()}}</td>
                    </tr>
                </table>

                <!-- {{ form.gender.label }} : {{ form.gender() }} <br> -->
                <br>
                <h3>Location:</h3>
                <table>
                    <tr>
                        <td>State:</td>
                        <td>City: </td>
                    </tr>
                    <tr>
                        <td> {{ form.state() }} </td>
                        <!-- <td>
                            <select id="city" name="city"></select>
                            
                        </td> -->
                        <td>  {{form.city()}} </td>

                    </tr>
                </table>
                <br>

                <table style="width:108%">
                    <tr>
                        <td>Bio:</td>
                    </tr>
                    <tr>
                        <td id="bioField">{{ form.bio(placeholder="Write something about yourself...") }}</td>
                    </tr>
                </table>
                <!-- {{ form.bio.label }} : {{ form.bio() }} <br> -->


                <table id="pref">
                    <tr>
                        <td id="question">Do you smoke?:  </td>
                        <td id="answ">{{ form.smoker(id="ansSel") }}</td>
                    </tr>
                    <tr>
                        <td id="question">Sleep Pattern:  </td>
                        <td id="answ">{{ form.sleepPattern(id="ansSel") }}</td>
                    </tr>
                    <tr>
                        <td id="question">Gender Preference:  </td>
                        <td id="answ">{{ form.genderPreferences(id="ansSel") }}</td>
                    </tr>
                    <tr>
                        <td id="question">Cleanliness:  </td>
                        <td id="answ">{{ form.cleanliness(id="ansSel")}}</td>
                    </tr>
                </table>
                <!-- {{ form.smoker.label }} : {{ form.smoker() }} <br> -->
                <!-- {{ form.sleepPattern.label }} : {{ form.sleepPattern() }} <br>
                {{ form.genderPreferences.label }} : {{ form.genderPreferences() }} <br>
                {{ form.cleanliness.label }}: {{ form.cleanliness()}}<br> -->
                <br>

                <table id="pic">
                    <tr>
                        <td> Profile Picture: </td>
                        
                    </tr>
                    <tr>
                        <td> {{ form.profilePicture(id="file", dataMultipleCaption="{count} files selected") }}
                            <label for="file"><span>choose a file</span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                            {{ form.submit() }}
                        </td>
                    </tr>
                </table>
                 <br>

                <br>
                <br>

                

            </form>
            <script>
                var state_select = document.getElementById("state");
                var city_select = document.getElementById("city");
        
                state_select.onchange = function()  {
                     
                    state = state_select.value;
                    
                    fetch('/city/' + state).then(function(response) {
        
                        response.json().then(function(data) {
                            var optionHTML = '';
        
                            for (var city of data.cities) {
                                optionHTML += '<option value="' + city.name + '">' + city.name + '</option>';
                            }
        
                            city_select.innerHTML = optionHTML;
                        })
                        
                    });
                    // location.reload();
                }
            </script>
            <script>
            var inputs = document.querySelectorAll( '#file' );
            Array.prototype.forEach.call( inputs, function( input ) {
            var label = input.nextElementSibling,
                        labelVal = label.innerHTML;
            
            input.addEventListener( 'change', function( e ) {
                var fileName = '';
                
                if ( this.files && this.files.length > 1 ) {
                fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
                } else {
                fileName = e.target.value.split( '\\' ).pop();
                }
            
                if ( fileName ) {
                label.querySelector( 'span' ).innerHTML = fileName;
                } else {
                label.innerHTML = labelVal;
                }
            });
             });
            </script>
        </div>
    </body>
</html>
