
<!DOCTYPE html>
<html>
    <head>
        <title> roomr - profile </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css')}}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    </head> 
    <body>
        <!-- Sidebar content -->
        <nav id="sidebar"><br>
            <div id="headercontainer">
                <h3 id="bartitle"><b>roomr</b></h3>
            </div>
            <div id="barlinks">
                    <a href="{{url_for('home')}}" id="baritem">Home</a> 
                    <a href="{{url_for('user')}}" id="baritem" >Profile</a> 
                    {% if current_user.is_authenticated %}
                        <a href="{{url_for('editProfile')}}" id="baritem" >Edit Profile</a>
                        <a href="{{url_for('logout')}}" id="baritem" >Logout</a> 
                        <a href="{{url_for('chatform')}}" id="baritem" >Chat</a>
                    {% else %}
                        <a href="{{url_for('login')}}" id="baritem">Login</a> 
                        <a href="{{url_for('signup')}}" id="baritem" >Signup</a> 
                    {%endif%}   
                </div>
        </nav>
    
    
        <div class="content" >
            <br>
            <br>
            
            {% if current_user.is_authenticated %}
                <div class="profile"> 
                    <br>
                    <img src= "{{ current_user.profilePicture }}" alt = "Profile picture", style = "width:80%" >
                    <h1>{{ current_user.fname }} {{ current_user.lname }}</h1>
                    <div class="col1">
                        <span id = "quest"> {{current_user.gender.capitalize()}} </span> 
                        <span id = "response">Age: {{ current_user.dob.today().year - current_user.dob.year }}</span>
                        <br>
                        <div>{{current_user.city}}, {{current_user.state}}</div>
                        <br>
                    </div>
                    <div id="bio"> Bio: <br> {{current_user.bio}} </div>
                    <br>
                    <div class="col2"> 
                        <div> <span id="quest">Smoker:</span> <span id="response">{{current_user.smoker.capitalize()}} </span></div> <br>
                        <div> <span id="quest">Sleep Pattern:</span> <span id="response">{{current_user.sleep.capitalize()}} </span></div> <br>
                        <div> <span id="quest">Cleanliness:</span> <span id="response">{{current_user.cleanliness.capitalize()}} </span></div> <br>
                    </div>
                    <br>
                    <br>

                </div>



                <p>hiHi {{ current_user.fname }} {{ current_user.lname }}!</p> 
                <p> Email address: {{ current_user.email }}</p>
                <p>Date of Birth: {{ current_user.dob }}</p>
            
                <div>
                </div>
            {% endif %}
            
        </div>
    </body>
    </html>
