
<!DOCTYPE html>
<html>
    <head>
        <title> roomr - profile </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css')}}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    </head> 
    <body>
        <!-- Sidebar content -->
        <nav id="sidebar"><br>
            <div id="headercontainer">
                <h3 id="bartitle"><b>roomr</b></h3>
            </div>
            <div id="barlinks">
                    <a href="{{url_for('home')}}" id="baritem">Home</a> 
                    <a href="{{url_for('user')}}" id="baritem" >Profile</a> 
                    {% if current_user.is_authenticated %}
                        <a href="{{url_for('editProfile')}}" id="baritem" >Edit Profile</a>
                        <a href="{{url_for('logout')}}" id="baritem" >Logout</a> 
                        <a href="{{url_for('chatform')}}" id="baritem" >Chat</a>
                    {% else %}
                        <a href="{{url_for('login')}}" id="baritem">Login</a> 
                        <a href="{{url_for('signup')}}" id="baritem" >Signup</a> 
                    {%endif%}   
                </div>
        </nav>
    
    
        <div class="content" >
            
            {% if current_user.is_authenticated %}
            <p>hiHi {{ current_user.fname }} {{ current_user.lname }}!</p> 
            <p> Email address: {{ current_user.email }}</p>
            <p>Date of Birth: {{ current_user.dob }}</p>
        
            <div>
             <img src= "{{ current_user.profilePicture }}" alt = "Profile picture", style = "width:250px;height:250px;" >
            </div>
            {% endif %}
            
            <p>hiHi</p>

            {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}"> <button type="button"> Log Out </button> </a>
            {% else %}
            <a href="{{ url_for('login') }}"> <button type="button"> Log In </button> </a>
            {% endif %}
        </div>
    </body>
    </html>
