<!DOCTYPE html>
<html>
    <head>
        <title> roomr - profile </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css')}}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    </head> 
    <body>
        <!-- Sidebar content -->
        <nav id="sidebar"><br>
            <div id="headercontainer">
                <h3 id="bartitle"><b>roomr</b></h3>
            </div>
            <div id="barlinks">
                    <a href="{{url_for('home')}}" id="baritem">Home</a> 
                    {% if current_user.is_authenticated %}
                        <a href="{{url_for('user')}}" id="baritem" >Profile</a> 
                        <a href="{{url_for('editProfile')}}" id="baritem" >Edit Profile</a>
                        <a href="{{url_for('logout')}}" id="baritem" >Logout</a> 
                        <a href="{{url_for('chatform')}}" id="baritem" >Chat</a>
                    {% else %}
                        <a href="{{url_for('login')}}" id="baritem">Login</a> 
                        <a href="{{url_for('signup')}}" id="baritem" >Signup</a> 
                    {%endif%}   
                </div>
        </nav>
    
        <div class="content" >
            {% if current_user.is_authenticated %}
                <h1> {{ other_user.fname|capitalize }} {{ other_user.lname|capitalize }} </h1>
                <p> <b>Email address:</b> {{ other_user.email }}</p>
                <p> <b>Date of Birth:</b> {{ other_user.dob }}</p>
                <p> <b>Location:</b> {{ other_user.location }} </p>
                <p> <b>Gender:</b> {{ other_user.gender }}</p>
                <p> <b>Bio:</b> {{ other_user.bio }}</p>
                <p> <b>Smoker:</b> {{ other_user.smoker }} </p>
                <p> <b>Sleep Pattern:</b> {{ other_user.sleep }} </p>
                <p> <b>Gender Preference:</b> {{ other_user.genderPreferences }} </p>
                <div>
                    <!-- <img src= "{{ current_user.profilepicture }}" alt = "Profile picture"> -->
                </div>
            {% else %}
                <h1> You do not have permission to view this page. Please login. </h1>
            {% endif %}   

        </div>
    </body>
</html>